.mpp-profile-wrap {
	margin: 0 auto;
	padding: 3%;
	border-radius: 5px;
	margin-bottom: 1.2em;
	margin-bottom: 20px;

	&.round .mpp-profile-image-wrapper {
		border-radius: 500px;
		overflow: hidden;
	}
	&.round .mpp-profile-image-wrapper img {
		border-radius: 500px;
	}
	&.right .mpp-profile-image-wrapper {
		text-align: right;
		order: 2;
	}
}
.mpp-profile-gutenberg-wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
}
.editor-styles-wrapper .mpp-profile-gutenberg-wrap {
	h2, 
	p,
	div {
		font-size: 18px;
		line-height: 1.1;
		margin-bottom: 20px;
	}
}
/* Icon Sizes */ 
$sizes: 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24;
@each $size in $sizes {
	.editor-styles-wrapper .mpp-profile-gutenberg-wrap.mt-font-size-#{$size} {
		h2, 
		p,
		div {
			font-size: #{$size}px;
			margin-bottom: 20px;
		}
		
	}
}
.mpp-profile-image-wrapper {
	position: relative;
	z-index: 0;
	-ms-flex: 1 0 0px;
	flex: 1 0 0;
	background: #ddd;
	position: relative;
	min-width: 150px;
	min-height: 150px;
	width: 100%;
	.mpp-profile-image-square {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 5;
	}
	.mpp-profile-image-square button {
		top: 0;
		left: 0;
		opacity: 1 !important;
		height: 100%;
	}
	.mpp-profile-image-square img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 5;
	}
}
.mpp-profile-view-posts {
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	margin-top: 20px;
	background-color: #cf6d38;
	color: #FFF;
	a,
	a:hover,
	a:visited {
		display: block;
		width: 100%;
		height: 100%;
		color: #FFF;
		text-decoration: none;
	}
}
.mpp-content-wrap {
	display: block;
	padding: 0 15px 0 15px;
	-ms-flex: 3 0 0px;
	flex: 3 0 0;
}
.mpp-profile-name {
	font: 1.4em;
	line-height: 1.2;
}